body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

.spacing {
    margin-bottom: 10px;
}

.white {
    color: white;
}

.brand-adjust {
    height: 30px;
    margin: 10px;
    float: left;
}

.line {
  border-color: #888;
}

.nav-header {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.ng-hide-remove {
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}
 
.ng-hide-add {
    -webkit-animation: fadeOut 1.0s;
    animation: fadeOut 1.0s;
    display: block !important;
}