.axis path, .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.brand-adjust {
    height: 30px;
    margin: 10px;
    float: left;
}

.grid .tick, .grid path {
    fill: none;
}
.grid .tick {
    stroke: grey;
    opacity: 0.2;
    stroke-width: 0.6;
    stroke-dasharray: 2,2;
}
.grid path {
    stroke-width: 0;
}

.line {
    border-color: #888;
}

.nav-header {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.ng-hide-remove {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
 
.ng-hide-add {
    -webkit-animation: fadeOut 1.0s;
    animation: fadeOut 1.0s;
    display: block !important;
}

.node {
    cursor: pointer;
}

.node circle {
    cursor: pointer;
    stroke-width: 2px;
}

.node-text {
    cursor: pointer;
    fill: #000;
    stroke: transparent;
    font: bold 11px sans-serif;
    text-shadow: 1px 1px #fff;
    textLength: 20px;
    display: none;
}

.node.expanded circle {
    fill: #fff;
}

.node.expanded .node-text {
    display: none;
}

.padding-r {
    padding-right: 0px;
}

.pointer {
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 83%;
    z-index: 2001;
}

.spacing {
    margin-bottom: 10px;
}

.spacing-r {
    margin-right: 10px;
}

.tags.label{
    font-weight: normal;
}

ul.nav li {
    position: static;
}

ul.nav li.dragged {
    position: absolute;
    opacity: 0.9;
    z-index: 2000;
}

ul.nav li.placeholder {
    position: relative;
}

ul.nav li.placeholder:before {
    border: 5px solid transparent;
    border-bottom: none;
    border-top-color: black;
    content: "";
    margin-left: -6px;
    position: absolute;
    top: -3px;
}

.white {
    color: white;
}