<!DOCTYPE html>
<html lang="en" ng-app="pmpApp" id="ng-app">

  <head>
    <title>Production Monitoring Platform</title>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--pMp CSS-->
    <link href="build/pmp.build.css" rel="stylesheet"/>
    <style type="text/css">
      .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <h2>You see what happens, Larry?!</h2>
      <h3>This what happens when you type the url incorrectly!</h3>
      <img src="http://s3.amazonaws.com/s3.roosterteeth.com/images/stevie92466a6628c10c8.jpg">
    </div>
  </body>
</html>
