<!DOCTYPE html>
<html lang="en" ng-app="pmpApp" id="ng-app">

  <head>
    <title>Production Monitoring Platform</title>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--external CSS-->
    <link href="build/depend.build.css" rel="stylesheet" type="text/css"/>
    <link href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900,400,300" rel="stylesheet" type="text/css"/>

    <!--pMp CSS-->
    <link href="build/pmp.build.min.css" rel="stylesheet" type="text/css"/>

    <!--external JS-->
    <script type="text/javascript" src="build/depend.build.js"></script>
    <script type="text/javascript" src="bower_components/clipboard/dist/clipboard.min.js"></script>

    <!--pMp JS-->
    <script type="text/javascript" src="build/directives.pmp.build.js"></script>
    <script type="text/javascript" src="build/pmp.build.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="img/ic_fav.png" />
  </head>
  <body ng-controller="MainController">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <div class="container-fluid">
        <a href="index" class="navbar-brand" ng-click="nav('/index/')">
          <img src="img/ic_fav.png" class="brand-adjust" alt="PMP"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="present" ng-click="nav('/present/')">
                <i class="fa fa-chart-bar spacing-r"></i>
                Present Staistics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="historical" ng-click="nav('/historical/')"">
                <i class="fa fa-chart-line spacing-r"></i>
                Historical Statistics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="performance" ng-click="nav('/performance/')">
                <i class="fa fa-heartbeat spacing-r"></i>
                Performance Statistics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/cms-PdmV/pmp/issues" target="_blank">
                <i class="fa fa-bug spacing-r"></i>
                Report
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/PdmVpMp" target="_blank">
                <i class="fa fa-info spacing-r"></i>
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="ctn">

      <div class="panel {{popUp.style}} popup" ng-show="popUp.show">
        <div class="panel-heading text-uppercase">
          <i class="fa {{popUp.icon}} spacing-r"></i> 
          <strong>{{popUp.title}}</strong>
        </div>
        <div class="panel-body">
          <small>{{popUp.message}}</small>
        </div>
      </div>
      
      <div class="panel panel-danger popup" ng-show="showError">
        <div class="panel-heading text-uppercase">
          <i class="fa fa-frown-o spacing-r"></i> 
          <strong>Error</strong>
        </div>
        <div class="panel-body">
          <small>{{popUpMessage}}</small>
        </div>
      </div>
      
      <div ng-view ng-show="showView"></div>
    </div>

    <div class="modal fade" id="unsupportedModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>You are using a web browser we do not support. Try one of the options below</p>
            <a class="btn btn-default" href="http://www.google.com/chrome/" role="button">
              <img height="20px" src="img/ic_chrome.png" /><br/>
              Chrome
            </a>
            <a class="btn btn-default" href="https://www.mozilla.org/en-US/firefox/new/" role="button">
              <img height="20px" src="img/ic_firefox.png" /><br/>
              Firefox
            </a>
            <a class="btn btn-default" href="https://www.apple.com/safari/" role="button">
              <img height="20px" src="img/ic_safari.png" /><br/>
              Safari</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Let me try pMp anyway</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
