body {
    background: #eee;
    font-family: 'Roboto', sans-serif;
}

.spacing {
    margin-bottom: 10px;
}

.white {
    color: white;
}

.nav-header {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}