<div id="advanced" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing pl-0 pr-0">
  <div class="row">
    <div class="col-xs-12 mt-3">
      <b>PLOT OPTIONS</b>
      <div class="" style="width: 100%;">
        <div class="col-xs-12">
          <label class="checkbox-inline col-lg-12 col-md-12 col-sm-12"
                 ng-show="page.id == 1"
                 title="Get all campaigns that are chained with search object's campaign">
            <input type="checkbox"
                   ng-model="$parent.chainedMode"
                   ng-change="changeChainedMode();"
                   ng-disabled="loadingData">
            Display Chains
          </label>
        </div>
        <div class="col-xs-12">
          <label class="checkbox-inline col-lg-12 col-md-12 col-sm-12"
                 ng-show="page.id == 1"
                 title="Count produced events as 'Done' even if request is still submitted">
            <input type="checkbox"
                   ng-model="$parent.growingMode"
                   ng-change="changeGrowingMode();"
                   ng-disabled="loadingData">
            Growing Mode
          </label>
        </div>
        <div class="col-xs-12">
          <label class="checkbox-inline col-lg-12 col-md-12 col-sm-12"
                 ng-hide="page.id == 3"
                 title="Show 1k instead of 1000, 1M instead of 1000000, etc.">
            <input type="checkbox"
                   ng-model="$parent.humanReadable"
                   ng-disabled="loadingData"
                   ng-change="changeHumanReadable()">
            Use SI suffix for large numbers
          </label>
        </div>
        <div class="col-xs-12">
          <label class="checkbox-inline col-lg-12 col-md-12 col-sm-12"
                 ng-show="page.id == 2"
                 title="Zoom on X and Y axis while zooming, not only X">
            <input type="checkbox"
                   ng-model="$parent.zoomY"
                   ng-change="changeZoomY()"
                   ng-disabled="loadingData">
            Zoom both axes
          </label>
        </div>
        <div class="col-xs-12">
          <label class="checkbox-inline col-lg-12 col-md-12 col-sm-12"
                 ng-show="page.id == 2"
                 title="Show list of done requests used in the plot">
            <input type="checkbox"
                   ng-model="$parent.showDoneRequestsList"
                   ng-change="changeShowDoneRequestsList()"
                   ng-disabled="loadingData">
            Show list of done requests
          </label>
        </div>
        <div class="col-xs-12 mt-1" ng-show="page.id == 2">
          <div class="input-group spacing"
               title="Number of data points in plot">
            <span class="input-group-addon">Granularity</span>
            <input type="number"
                   class="form-control"
                   ng-model="$parent.granularity"
                   ng-change="changeGranularity()"
                   placeholder="Default: 100"
                   ng-model-options="{ debounce: 1500 }">
          </div>
        </div>
        <div class="col-xs-12 mt-1" ng-show="page.id == 3">
          <div class="input-group input-group-sm spacing"
               title="Number of bars in histogram">
            <span class="input-group-addon">Bins</span>
            <input type="number"
                   class="form-control"
                   ng-model="$parent.bins"
                   ng-change="changeBins()"
                   placeholder="Default: 20"
                   ng-model-options="{ debounce: 1500 }">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr class="line mt-2 mb-0"/>
    </div>
  </div>
</div>
