<div class="row spacing">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
      <h1 class="pull-right white">
        <strong>{{title}}</strong>
      </h1>
    </div>
    <div class="row">
      <div class="well spacing">
        <div class="row">
          <div class="col-lg-11">
            <div class="input-group spacing">
              <input ng-model="campaign" class="form-control" type="text"
                     placeholder="Campaign Name">
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger"
                    ng-click="load(campaign, false)">
                  See
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="load(campaign, true)">
                  Append
                </button>
            <button type="button" class="btn btn-danger" ng-click="load('all')">
              Load <strong>all</strong>
            </button>
              </span>
            </div>
          </div>
          <div class="col-lg-1" ng-show="loadingData">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="row">
      <a class="btn btn-sm text-uppercase" data-toggle="collapse" data-target="#advanced">
        <small><i class="fa fa-cog"></i> Advanced</small>
      </a>
      <a class="btn btn-sm text-uppercase" data-toggle="collapse" data-target="#share">
        <small><i class="fa fa-share"></i> Share</small>
      </a>
      <div id="advanced" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing">
        Some advanced tricks<br>
        More advanced tricks<br>
        And some more advanced tricks
      </div>
      <div id="share" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="input-group input-group-sm">
          <span class="hidden-sm input-group-addon text-uppercase">Share</span>
          <input type="text" class="form-control" placeholder="URL">
          <span class="input-group-addon"><i class="fa fa-copy"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="allRequestData.length">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    
    <mcm-customizable-chart chart-type="'mcm-column-chart'" chart-title="Requests chart"
                            radio="requests.radio" settings="requests.settings"
                            selections="requests.selections" options="requests.options"
                            chart-data="allRequestData">
    </mcm-customizable-chart>
    
    <multiple-pie-charts color-domain="piecharts.domain" table-title="Campaigns"
                         data="allRequestData" full-terms="piecharts.fullTerms"
                         compact-terms="piecharts.compactTerms" sum-by="piecharts.sum"
                         nest-by="piecharts.nestBy">
    </multiple-pie-charts>
    
  </div>
</div>
