<div class="row spacing"  ng-init="init()">
  <div class="col-lg-9 col-md-9 col-sm-9">
   <div class="row">
     <div class="row">
       <h1 class="pull-right white">
         <strong>{{title}}</strong>
       </h1>
     </div>
     <div class="row">
       <div class="well spacing">
         <div class="row">
           <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
             <div class="input-group spacing">
               <input ng-model="campaign" class="form-control" type="text"
                      placeholder="Campaign Name">
               <span class="input-group-btn">
                 <button type="button" class="btn btn-danger"
                         ng-click="load(campaign, false)" ng-disabled="loadingData">
                   See
                 </button>
                 <button type="button" class="btn btn-danger"
                         ng-click="load(campaign, true)" ng-disabled="loadingData">
                   Append
                 </button>
                 <button type="button" class="btn btn-danger"
                         ng-click="load('all')" ng-disabled="loadingData">
                   Load <strong>all</strong>
                 </button>
               </span>
             </div>
           </div>
           <div class="col-lg-1" ng-show="loadingData">
             <i class="fa fa-spinner fa-spin fa-3x"></i>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="panel panel-default"
            ng-init="updateDate()" ng-show="showDate">
         <div class="panel-body">
           Current time:
           <strong>
             {{dt | date:"d MMMM y H:mm"}}
           </strong>
           {{dt | date: "'GMT': Z"}}
         </div>
       </div>
     </div>
   </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    <a class="btn btn-sm text-uppercase spacing" data-toggle="collapse" data-target="#advanced">
      <small><i class="fa fa-cog"></i> Advanced</small>
    </a>
    <a class="btn btn-sm text-uppercase spacing" data-toggle="collapse" data-target="#share">
      <small><i class="fa fa-share"></i> Share</small>
    </a>
    <div id="advanced" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing">
      
      <form class="form-group text-uppercase">
        <label class="checkbox-inline col-lg-12">
          <input type="checkbox" ng-model="showDate">
          <small>
            Show current time
          </small>
        </label>
        <br/>
        <label class="checkbox-inline col-lg-12 spacing">
          <input type="checkbox" ng-model="chainMode" ng-change="modeUpdate()">
          <small>
            New get_stats mode
          </small>
        </label>
      </form>

      <form class="form-inline">
        <h6 class="text-center text-uppercase">Filter by priority:</h6>
        <div class="form-group form-group-sm">
          <div class="input-group">

            <input type="text" class="form-control" placeholder="min"
                   ng-model="minPriority" ng-change="updateRequestData()">

            <div class="input-group-addon">
              <strong> < x < </strong>
            </div>
            <input type="text" class="form-control" placeholder="max">
          </div>
        </div>
      </form>
      
      <h6 class="text-center text-uppercase">Filter by status:</h6>
      <small>
        <div class="col-lg-6" ng-repeat="term in piecharts.fullTerms">
          <label class="checkbox-inline">
            <input type="checkbox" value="true" checked="checked">
            {{term}}
          </label>
        </div>
      </small>
      
    </div>
    
    <div id="share" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
      <hr class="line">
      <div class="input-group input-group-sm">
        <span class="hidden-sm input-group-addon text-uppercase" ng-click="setURL()">Share</span>
        <input id="url" type="text" class="form-control" ng-model="url"
               placeholder="Refresh to get URL">
        <span id="copy" data-clipboard-text="{{url}}" class="input-group-addon pointer">
          <i class="fa fa-copy"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="campaignList"></div>
  </div>
</div>

<div class="row" ng-show="allRequestData.length">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    
    <mcm-customizable-chart chart-type="'mcm-column-chart'" chart-title="Requests chart"
                            radio="requests.radio" settings="requests.settings"
                            selections="requests.selections" options="requests.options"
                            chart-data="allRequestData">
    </mcm-customizable-chart>
    
    <multiple-pie-charts color-domain="piecharts.domain" table-title="Campaigns"
                         data="allRequestData" full-terms="piecharts.fullTerms"
                         compact-terms="piecharts.compactTerms" sum-by="piecharts.sum"
                         nest-by="piecharts.nestBy">
    </multiple-pie-charts>
    
  </div>
</div>
