<style>
.nav.dnd {
  margin-bottom: 0;
}
</style>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 3px">
    <span class="col-lg-2 col-md-2 col-sm-3 col-xs-5 nav-header text-muted">selections</span>
    <ul id="possible-selections" class="nav nav-pills dnd col-lg-10 col-md-10 col-sm-10 col-xs-8 inline" style="min-height:22px">
      <li class="btn btn-default btn-xs text-uppercase" ng-repeat="value in selectionsHelper">
        {{value}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="(key, value) in optionsHelper">
    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 nav-header" style="margin-bottom: 3px">
      {{key}}
    </span>
    <ul id="{{key}}" class="nav nav-pills dnd single col-lg-8 col-md-8 col-sm-8 col-xs-8 inline alert-info" style="min-height: 23px; margin-top: 1px;" ng-if="!(value | isArray)">
      <li class="btn btn-default btn-xs text-uppercase">
        {{value}}
      </li>
    </ul>
    <ul id="{{key}}" class="nav nav-pills dnd col-lg-8 col-md-8 col-sm-8 col-xs-8 inline alert-info" style="min-height: 23px; margin-top: 1px;" ng-if="(value | isArray)">
      <li class="btn btn-default btn-xs text-uppercase" ng-repeat="v in value">
        {{v}}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 spacing-sm" style="margin-top: 3px;" ng-show="showScale">
    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 nav-header">
      scale
    </span>
    <ul class="nav nav-pills inline col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <li>
        <div class="btn-group" ng-click="changeScale()">
          <button type="button" class="btn btn-primary btn-xs text-uppercase" ng-model="radio.scale" btn-radio="'linear'" ng-class="{active: linearScale}">
            linear
          </button>
          <button type="button" class="btn btn-primary btn-xs text-uppercase" ng-model="radio.scale" btn-radio="'log'" ng-class="{active: !linearScale}">
            log
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 spacing-sm" style="margin-top: 3px;" ng-show="showMode">
    <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 nav-header">
      mode
    </span>
    <ul class="nav nav-pills inline col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <li>
        <div class="btn-group" ng-click="changeMode()">
          <button type="button" class="btn btn-primary btn-xs text-uppercase" ng-model="radio.mode" btn-radio="'events'">
            events
          </button>
          <button type="button" class="btn btn-primary btn-xs text-uppercase" ng-model="radio.mode" btn-radio="'requests'">
            requests
          </button>
          <button type="button" class="btn btn-primary btn-xs text-uppercase" ng-model="radio.mode" btn-radio="'seconds'">
            seconds
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

