<div id="filter"
     class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing pl-0 pr-0"
     ng-controller="FilterController"
     ng-init="initFilter();init()">
  <div ng-show="isEmpty(statusFilter)">
    <small>
      No data to filter
    </small>
  </div>
  <div ng-hide="isEmpty(statusFilter)">
    <div class="row">
      <div class="col-xs-12 mt-3">
        <b>PRIORITY FILTER</b>
        <div class="input-group mt-2" style="padding-left: 15px; padding-right: 15px;">
          <select class="form-control"
                  style="width: 100%; border-radius: 5px 0 0 0; padding: 6px 4px;"
                  ng-change="applyFilterChanges()"
                  ng-disabled="loadingData"
                  ng-model="priorityFilter[0]">
            <option ng-repeat="(key, value) in priorityPerBlock"
                    value="{{value}}">{{key}} ({{value / 1000}}k)</option>
          </select>
          <input type="text"
                 class="form-control"
                 style="width: 100%; border-radius: 0 0 0 5px; padding: 6px 10px;"
                 placeholder="min"
                 ng-change="applyFilterChanges()"
                 ng-model-options="{ debounce: 2500 }"
                 ng-disabled="loadingData"
                 ng-model="priorityFilter[0]">
          <div class="input-group-addon pl-1 pr-1">
            &le; X &lt;
          </div>
          <select class="form-control"
                  style="width: 100%; border-radius: 0 5px 0 0; padding: 6px 4px;"
                  ng-change="applyFilterChanges()"
                  ng-disabled="loadingData" 
                  ng-model="priorityFilter[1]">
            <option ng-repeat="(key, value) in priorityPerBlock"
                    value="{{value}}">{{key}} ({{value / 1000}}k)</option>
          </select>
          <input type="text"
                 class="form-control"
                 style="width: 100%; border-radius: 0 0 5px 0; padding: 6px 10px;"
                 placeholder="max"
                 ng-change="applyFilterChanges()"
                 ng-model-options="{ debounce: 2500 }"
                 ng-disabled="loadingData"
                 ng-model="priorityFilter[1]">
        </div>
      </div>
      
      <div class="col-xs-12">
        <hr class="line mt-2 mb-3"/>
        <b>STATUS FILTER</b>
        <div class="input-group mt-2" style="width: 100%;">
          <form class="input-group" style="width: 100%;">
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4" ng-repeat="(key, _) in statusFilter">
              <label class="checkbox-inline">
                <input type="checkbox" ng-change="applyFilterChanges(page.id == 2)" ng-disabled="loadingData" ng-model="statusFilter[key]">{{key}}
              </label>
            </div>
          </form>
          <div class="text-center mt-3" style="width: 100%; padding-left: 15px; padding-right: 15px;">
            <div style="display: inline-block;">
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(statusFilter, true, page.id == 2)">Select All</button>
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(statusFilter, false, page.id == 2)">Select None</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <hr class="line mt-2 mb-3"/>
        <b>PWG FILTER</b>
        <div class="input-group mt-2" style="width: 100%;">
          <form class="input-group" style="width: 100%;">
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4" ng-repeat="key in pwgFilterKeys">
              <label class="checkbox-inline">
                <input type="checkbox" ng-change="applyFilterChanges(page.id == 2)" ng-disabled="loadingData" ng-model="pwgFilter[key]">{{key}}
              </label>
            </div>
          </form>
          <div class="text-center mt-3" style="width: 100%; padding-left: 15px; padding-right: 15px;">
            <div style="display: inline-block;">
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(pwgFilter, true, page.id == 2)">Select All</button>
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(pwgFilter, false, page.id == 2)">Select None</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <hr class="line mt-2 mb-3"/>
        <b>INTERESTED PWG FILTER</b>
        <div class="input-group mt-2" style="width: 100%;">
          <form class="input-group" style="width: 100%;">
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4" ng-repeat="key in interestedPWGFilterKeys">
              <label class="checkbox-inline">
                <input type="checkbox" ng-change="applyFilterChanges(page.id == 2)" ng-disabled="loadingData" ng-model="interestedPWGFilter[key]">{{key}}
              </label>
            </div>
          </form>
          <div class="text-center mt-3" style="width: 100%; padding-left: 15px; padding-right: 15px;">
            <div style="display: inline-block;">
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(interestedPWGFilter, true, page.id == 2)">Select All</button>
              <button class="btn btn-primary btn-xs" style="min-width: 100px" ng-click="setAllFilterValues(interestedPWGFilter, false, page.id == 2)">Select None</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <hr class="line mt-2 mb-0"/>
      </div>
    </div>
  </div>
</div>
