<div id="filter" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing" ng-controller="FilterController" ng-init="initFilter()">
  <div ng-show="isEmpty(filterStatus)">
    <small>
      No data to filter
    </small>
  </div>
  <div ng-show="!isEmpty(filterStatus)">
    <form class="form-group form-inline form-group-sm">
      <small class="text-uppercase col-sm-12 col-md-12 col-lg-12">
        Priority filter
      </small>
      <div class="input-group col-sm-12">
        <select class="form-control text-center" ng-change="applyFilterChanges()" ng-disabled="loadingData" ng-model="filterPriority[0]">
          <option ng-repeat="(key, value) in priorityPerBlock" value="{{value}}">
            {{key}}
          </option>
        </select>
        <input type="text" class="form-control" placeholder="min" ng-change="applyFilterChanges()" ng-disabled="loadingData" ng-model="filterPriority[0]">
        <div class="input-group-addon">
            &le;x&le;
        </div>
        <select class="form-control text-center" ng-change="applyFilterChanges()" ng-disabled="loadingData" ng-model="filterPriority[1]">
          <option ng-repeat="(key, value) in priorityPerBlock" value="{{value}}">
            {{key}}
          </option>
        </select>
        <input type="text" class="form-control" placeholder="max" ng-change="applyFilterChanges()" ng-disabled="loadingData" ng-model="filterPriority[1]">
      </div>
    </form>
    
    <form class="form-group form-inline form-group-sm spacing">
      <small class="text-uppercase col-sm-12 col-md-12 col-lg-12">
        Status filter
      </small>
      <div class="input-group">
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6" ng-repeat="(key, _) in filterStatus">
          <label class="checkbox-inline">
            <input type="checkbox" ng-change="applyFilterChanges()" ng-disabled="loadingData" ng-model="filterStatus[key]">
            <small>
              {{key}}
            </small>
          </label>
        </div>
      </div>
    </form>
    
    <form class="form-group form-inline form-group-sm">
      <small class="text-uppercase col-xs-12 col-sm-12 col-md-12 col-lg-12">PWG filter</small>
      <div class="col-sm-3 col-md-3 col-lg-4 col-xs-4" ng-repeat="(key, _) in allPWG">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="allPWG[key]" ng-disabled="loadingData"
                 ng-change="updateRequestData();setURL()">
          <small>{{key}}</small>
        </label>
      </div>
    </form>
  </div>
</div>
