<div class="row" ng-hide="loadingData || !data || data.length == 0">
  <div class="col-sm-12 text-center spacing pb-4" id="measure">
    <linear-lifetime data="data"
                     zoom-y="zoomY"
                     human-readable-numbers="humanReadable"
                     big-number-formatter="formatBigNumber"
                     class="spacing"><div class="historical-drilldown" id="historical-drilldown"></div></linear-lifetime>
    <div ng-if="listSubmitted.length != 0">
      <p class="mt-4">
        List of requests (<b>{{listSubmitted.length}}</b>) in status <b>submitted</b>
      </p>
      <div class="row small-padding">
        <div class="col-sm-4">
          <button type="button" class="btn btn-sort m-2" ng-click="changeSubmittedSort('prepid')">
            <i ng-if="sortSubmittedOn != 'prepid'" class="fa fa-sort-amount-asc spacing-r" title="Click to sort ascending by prepid"></i>
            <i ng-if="sortSubmittedOn == 'prepid' && sortSubmittedOrder == 1" class="fa fa-sort-amount-asc spacing-r sort-selected" title="Click to sort descending by prepid"></i>
            <i ng-if="sortSubmittedOn == 'prepid' && sortSubmittedOrder == -1" class="fa fa-sort-amount-desc spacing-r sort-selected" title="Click to sort ascending by prepid"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeSubmittedSort('expected')">
            <i ng-if="sortSubmittedOn != 'expected'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by expected events"></i>
            <i ng-if="sortSubmittedOn == 'expected' && sortSubmittedOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by expected events"></i>
            <i ng-if="sortSubmittedOn == 'expected' && sortSubmittedOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by expected events"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeSubmittedSort('done')">
            <i ng-if="sortSubmittedOn != 'done'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by done events"></i>
            <i ng-if="sortSubmittedOn == 'done' && sortSubmittedOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by done events"></i>
            <i ng-if="sortSubmittedOn == 'done' && sortSubmittedOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by done events"></i>
          </button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-sort m-2" ng-click="changeSubmittedSort('percentage')">
            <i ng-if="sortSubmittedOn != 'percentage'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by progress"></i>
            <i ng-if="sortSubmittedOn == 'percentage' && sortSubmittedOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by progress"></i>
            <i ng-if="sortSubmittedOn == 'percentage' && sortSubmittedOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by progress"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeSubmittedSort('priority')">
            <i ng-if="sortSubmittedOn != 'priority'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by priority"></i>
            <i ng-if="sortSubmittedOn == 'priority' && sortSubmittedOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by priority"></i>
            <i ng-if="sortSubmittedOn == 'priority' && sortSubmittedOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by priority"></i>
          </button>
        </div>
      </div>
      <div ng-repeat="submitted in listSubmitted" class="row zebra-lines small-padding">
        <div class="col-sm-4">
          <a ng-href="{{submitted.url}}" target="_blank">{{submitted.prepid}}</a>
          <br><small>{{submitted.dataset}}</small>
          <small title="Number of events estimated from {{submitted.estimated_from}}" style="color:red" ng-if="submitted.estimated_from"><br>(Estimate from {{submitted.estimated_from}})</small>
        </div>
        <div class="col-sm-2">
          Expected: <b title="{{submitted.expected}}">{{humanReadable ? (submitted.expected | readableNumbers) : submitted.expected}}</b>
        </div>
        <div class="col-sm-2">
          Produced: <b title="{{submitted.done}}">{{humanReadable ? (submitted.done | readableNumbers) : submitted.done}}</b>
          <small title="Force completed" style="color:red" ng-if="submitted.force_completed">(FC)</small>
        </div>
        <div class="col-sm-1">
          <div class="progress total-bar" ng-show="submitted.expected > 0">
            <div class="font-shadow progress-bar pmp-orange"
                 ng-class="{'pmp-red': submitted.output_dataset_status == 'INVALID' || submitted.output_dataset_status == 'DELETED',
                            'pmp-blue': submitted.output_dataset_status == 'VALID',
                            'pmp-orange': submitted.output_dataset_status == 'PRODUCTION'}"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 title="{{submitted.output_dataset}} is {{submitted.output_dataset_status}} at {{submitted.percentage | readableNumbers}}%"
                 style="color: black;
                        max-width: 100%;
                        width:{{submitted.percentage}}%;">
              {{submitted.percentage | readableNumbers}}%
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          Priority: <b>{{submitted.priority}}</b>
        </div>
        <div class="col-sm-1">
          <a ng-if="submitted.output_dataset" ng-href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod/global&input=dataset={{submitted.output_dataset}}" target="_blank">Show in DAS</a><br>
          <a ng-if="submitted.workflow" ng-href="https://cms-pdmv.cern.ch/stats?workflow_name={{submitted.workflow}}" target="_blank">Show in Stats</a>
        </div>
      </div>
    </div>

    <div ng-if="showDoneRequestsList && listDone.length != 0">
      <p class="mt-4">
        List of requests (<b>{{listDone.length}}</b>) in status <b>done</b>
      </p>
      <div class="row small-padding">
        <div class="col-sm-4">
          <button type="button" class="btn btn-sort m-2" ng-click="changeDoneSort('prepid')">
            <i ng-if="sortDoneOn != 'prepid'" class="fa fa-sort-amount-asc spacing-r" title="Click to sort ascending by prepid"></i>
            <i ng-if="sortDoneOn == 'prepid' && sortDoneOrder == 1" class="fa fa-sort-amount-asc spacing-r sort-selected" title="Click to sort descending by prepid"></i>
            <i ng-if="sortDoneOn == 'prepid' && sortDoneOrder == -1" class="fa fa-sort-amount-desc spacing-r sort-selected" title="Click to sort ascending by prepid"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeDoneSort('expected')">
            <i ng-if="sortDoneOn != 'expected'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by expected events"></i>
            <i ng-if="sortDoneOn == 'expected' && sortDoneOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by expected events"></i>
            <i ng-if="sortDoneOn == 'expected' && sortDoneOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by expected events"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeDoneSort('done')">
            <i ng-if="sortDoneOn != 'done'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by done events"></i>
            <i ng-if="sortDoneOn == 'done' && sortDoneOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by done events"></i>
            <i ng-if="sortDoneOn == 'done' && sortDoneOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by done events"></i>
          </button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-sort m-2" ng-click="changeDoneSort('percentage')">
            <i ng-if="sortDoneOn != 'percentage'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by progress"></i>
            <i ng-if="sortDoneOn == 'percentage' && sortDoneOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by progress"></i>
            <i ng-if="sortDoneOn == 'percentage' && sortDoneOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by progress"></i>
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-sort m-2" ng-click="changeDoneSort('priority')">
            <i ng-if="sortDoneOn != 'priority'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by priority"></i>
            <i ng-if="sortDoneOn == 'priority' && sortDoneOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by priority"></i>
            <i ng-if="sortDoneOn == 'priority' && sortDoneOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by priority"></i>
          </button>
        </div>
      </div>
      <div ng-repeat="done in listDone" class="row zebra-lines small-padding">
        <div class="col-sm-4">
          <a ng-href="{{done.url}}" target="_blank">{{done.prepid}}</a>
          <br><small>{{done.dataset}}</small>
          <small title="Number of events estimated from {{done.estimated_from}}" style="color:red" ng-if="done.estimated_from"><br>(Estimate from {{done.estimated_from}})</small>
        </div>
        <div class="col-sm-2">
          Expected: <b title="{{done.expected}}">{{humanReadable ? (done.expected | readableNumbers) : done.expected}}</b>
        </div>
        <div class="col-sm-2">
          Done: <b title="{{done.done}}">{{humanReadable ? (done.done | readableNumbers) : done.done}}</b>
          <small title="Force completed" style="color:red" ng-if="done.force_completed">(FC)</small>
        </div>
        <div class="col-sm-1">
          <div class="progress total-bar" ng-show="done.expected > 0">
            <div class="font-shadow progress-bar pmp-blue"
                 ng-class="{'pmp-red': done.output_dataset_status == 'INVALID' || done.output_dataset_status == 'DELETED',
                            'pmp-blue': done.output_dataset_status == 'VALID',
                            'pmp-orange': done.output_dataset_status == 'PRODUCTION'}"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 title="{{done.output_dataset}} is {{done.output_dataset_status}} at {{done.percentage | readableNumbers}}%"
                 style="color: black;
                        max-width: 100%;
                        width:{{done.percentage}}%;">
              {{done.percentage | readableNumbers}}%
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          Priority: <b>{{done.priority}}</b>
        </div>
        <div class="col-sm-1">
          <a ng-if="done.output_dataset" ng-href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod/global&input=dataset={{done.output_dataset}}" target="_blank">Show in DAS</a><br>
          <a ng-if="done.workflow" ng-href="https://cms-pdmv.cern.ch/stats?workflow_name={{done.workflow}}" target="_blank">Show in Stats</a>
        </div>
      </div>
    </div>
  </div>
</div>
