<div class="row" ng-show="data.length">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center spacing" id="measure">
    <linear-lifetime chart-data="data" task-chain="loadTaskChain" zoom-y="zoomOnY"
                     human-readable-numbers="humanReadableNumbers" class="spacing"></linear-lifetime>
    <p ng-hide="isEmpty(listSubmitted)">
      List of requests on status submitted:
    </p>
    <div ng-repeat="(prepid, value) in listSubmitted" class="zebra-lines small-padding">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <small>
          <a ng-if="prepid.indexOf('ReReco') == -1" ng-href="/mcm/requests?prepid={{prepid}}" target="_blank">{{prepid}}</a>
          <a ng-if="prepid.indexOf('ReReco') != -1" ng-href="https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id={{prepid}}" target="_blank">{{prepid}}</a>
        </small>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="progress">
          <div class="{{getSubmittedProgressClass(value['completion'])}} font-shadow" role="progressbar" aria-valuenow="{{getSubmittedProgressWidth(value['completion'])}}" aria-valuemin="0" aria-valuemax="100" style="width: {{getSubmittedProgressWidth(value['completion'])}}%;">
            {{getSubmittedProgressLabel(value['completion'])}}
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          {{value['datasets'][0].substring(0, value['datasets'][0].lastIndexOf("/")+1)}}
          <a ng-repeat="dataset in value['datasets']" ng-href="https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod/global&input=dataset={{dataset}}" target="_blank">
            {{dataset.split("/")[dataset.split("/").length-1]}};
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
