<div ng-hide="loadingData || availableStatuses.length == 0" class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Scale: <radio-selections style="text-transform: capitalize;"
                             class="ml-2"
                             options="availableScales"
                             selected="scale"
                             on-value-change="scaleChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Subtrahend (From): <radio-selections style="text-transform: capitalize;"
                                         class="ml-2"
                                         options="availableStatuses"
                                         selected="subtrahend"
                                         on-value-change="subtrahendChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Minuend (To): <radio-selections style="text-transform: capitalize;"
                                    class="ml-2"
                                    options="availableStatuses"
                                    selected="minuend"
                                    on-value-change="minuendChange"></radio-selections>
  </div>
  <div ng-show="data.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <performance-histogram data="data"
                           scale="scale"
                           number-of-bins="bins"
                           bin-selected-callback="binSelected"
                           big-number-formatter="formatBigNumber"
                           big-number-formatter-log="formatBigNumberLog"></performance-histogram>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center margin-20" ng-show="selectedBin.length">
    <p>Requests (<b>{{selectedBin.length}}</b>) in selected bar (Time taken from <b>{{subtrahend}}</b> to <b>{{minuend}}</b>)</p>
    <div ng-repeat="binEntry in selectedBin" class="row zebra-lines small-padding">
      <div class="col-sm-6">
        <a ng-if="binEntry.prepid.indexOf('ReReco') == -1" ng-href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{binEntry.prepid}}" target="_blank">{{binEntry.prepid}}</a>
        <a ng-if="binEntry.prepid.indexOf('ReReco') != -1" ng-href="https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id={{binEntry.prepid}}" target="_blank">{{binEntry.prepid}}</a>
      </div>
      <div class="col-sm-6">
        {{binEntry.niceDiff}}
      </div>
    </div>
  </div>
</div>
