<div class="row spacing" ng-show="showView" ng-init="initPresent()">
  <div class="col-lg-9 col-md-9 col-sm-9">
   <div class="row">
     <div class="row">
       <h1 class="pull-right white">
         <strong>{{title}}</strong>
       </h1>
     </div>
     <div class="row">
       <div class="well spacing">
         <div class="row">
           <div class="col-lg-11 col-md-11 col-sm-10 col-xs-11" ng-controller="TypeaheadCtrl">
             <div class="input-group spacing">
               <input type="text" ng-model="performance" ng-change="getSuggestions()"
                      typeahead="s for s in suggestions | filter:$viewValue | limitTo:8"
                      class="form-control" autocomplete="off"
                      placeholder="Start typing to search...">
               <span class="input-group-btn">
                 <button type="button" class="btn btn-danger"
                         ng-click="load(performance, false)" ng-disabled="loadingData">
                   See
                 </button>
                 <button type="button" class="btn btn-danger"
                         ng-click="load(performance, true)" ng-disabled="loadingData">
                   Append
                 </button>
                 <button type="button" class="btn btn-danger"
                         ng-click="performance('all')" ng-disabled="loadingData">
                   Load <strong>all</strong>
                 </button>
               </span>
             </div>
           </div>
           <div class="col-lg-1 col-md-1 col-sm-2" ng-show="loadingData">
             <i class="fa fa-spinner fa-spin fa-3x"></i>
           </div>
         </div>
       </div>
     </div>

   </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-3">
    <a class="btn btn-sm text-uppercase padding-r" data-toggle="collapse" data-target="#filter">
      <i class="fa fa-eyedropper"></i>
      <small class="hidden-sm"> Filter</small>
    </a>
    <a class="btn btn-sm text-uppercase padding-r" data-toggle="collapse" data-target="#advanced">
      <i class="fa fa-cog"></i>
      <small class="hidden-sm"> Advanced</small>
    </a>
    <a class="btn btn-sm text-uppercase" data-toggle="collapse" data-target="#share">
      <i class="fa fa-share"></i>
      <small class="hidden-sm"> Share</small>
    </a>
    
    <div id="filter" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing">
      Filter
    </div>

    <div id="advanced" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12 spacing">
      Advanced
    </div>
    
    <div id="share" class="collapse col-xs-12 col-sm-12 col-md-12 col-lg-12">
      Share
    </div>
  </div>
</div>
