<div ng-hide="loadingData || availableStatuses.length == 0" class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Scale: <radio-selections style="text-transform: capitalize;"
                             class="ml-2"
                             options="availableScales"
                             selected="scale"
                             on-value-change="scaleChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Tool: <radio-selections style="text-transform: capitalize;"
                            class="ml-2"
                            options="availableToolNames"
                            selected="toolName"
                            on-value-change="toolNameChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Subtrahend (From): <radio-selections style="text-transform: capitalize;"
                                         class="ml-2"
                                         options="availableStatuses"
                                         selected="subtrahend"
                                         on-value-change="subtrahendChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Minuend (To): <radio-selections style="text-transform: capitalize;"
                                    class="ml-2"
                                    options="availableStatuses"
                                    selected="minuend"
                                    on-value-change="minuendChange"></radio-selections>
  </div>
  <div ng-show="data.length && data[0]" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <performance-histogram data="data"
                           scale="scale"
                           number-of-bins="bins"
                           bin-selected-callback="binSelected"
                           big-number-formatter="formatBigNumber"
                           big-number-formatter-log="formatBigNumberLog"></performance-histogram>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center pb-4" ng-show="selectedBin.length">
    <p>Requests (<b>{{selectedBin.length}}</b>) in selected bar (Time taken from <b>{{subtrahend}}</b> to <b>{{minuend}}</b>)</p>
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-sort m-2" ng-click="changeSelectedSort('prepid')">
          <i ng-if="sortSelectedOn != 'prepid'" class="fa fa-sort-amount-asc spacing-r" title="Click to sort ascending by prepid"></i>
          <i ng-if="sortSelectedOn == 'prepid' && sortSelectedOrder == 1" class="fa fa-sort-amount-asc spacing-r sort-selected" title="Click to sort descending by prepid"></i>
          <i ng-if="sortSelectedOn == 'prepid' && sortSelectedOrder == -1" class="fa fa-sort-amount-desc spacing-r sort-selected" title="Click to sort ascending by prepid"></i>
        </button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-sort m-2" ng-click="changeSelectedSort('diff')">
          <i ng-if="sortSelectedOn != 'diff'" class="fa fa-sort-numeric-asc spacing-r" title="Click to sort ascending by time"></i>
          <i ng-if="sortSelectedOn == 'diff' && sortSelectedOrder == 1" class="fa fa-sort-numeric-asc spacing-r sort-selected" title="Click to sort descending by time"></i>
          <i ng-if="sortSelectedOn == 'diff' && sortSelectedOrder == -1" class="fa fa-sort-numeric-desc spacing-r sort-selected" title="Click to sort ascending by time"></i>
        </button>
      </div>
    </div>
    <div ng-repeat="binEntry in selectedBin" class="row zebra-lines small-padding">
      <div class="col-sm-6">
        <a ng-href="{{binEntry.url}}" target="_blank">{{binEntry.prepid}}</a>
      </div>
      <div class="col-sm-6" title="{{binEntry.diff}} seconds">
        {{binEntry.niceDiff}}
      </div>
    </div>
    <div style="text-align: right;">
      <a style="cursor: pointer" ng-click="makeCSV(selectedBin)">Download as CSV</a>
    </div>
  </div>
</div>
