<div class="row" ng-show="showView" ng-init="init()"></div>
  <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
   <div class="row">
     <div class="row">
       <h1 class="pull-right white hidden-xs hidden-sm">
         <strong>{{page.title}}{{mode}}</strong>
       </h1>
       <h3 class="pull-right white hidden-md hidden-lg">
         <strong>{{page.title}}{{mode}}</strong>
       </h3>
     </div>
     <div class="row">
       <div class="well">
         <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="TypeaheadCtrl">
             <div class="input-group spacing">
               <input type="text" ng-model="campaign" ng-change="getSuggestions(campaign)"
                      typeahead="s for s in suggestions | filter:$viewValue | limitTo:8"
                      class="form-control" autocomplete="off"
                      placeholder="Start typing to search...">
               <span class="input-group-btn">
                 <button type="button" class="btn btn-danger"
                         ng-click="load(campaign, false)" ng-disabled="loadingData">
                   <i class="hidden-lg hidden-md fa fa-eye"></i>
                   <span class="hidden-sm hidden-xs"> See</span>
                 </button>
                 <button type="button" class="btn btn-danger"
                         ng-click="load(campaign, true, false, true, true)" ng-disabled="loadingData || displayChains">
                   <i class="hidden-lg hidden-md fa fa-plus"></i>
                   <span class="hidden-sm hidden-xs"> Append</span>
                 </button>
                 <button type="button" class="btn btn-danger" ng-click="load('all')"
                         ng-disabled="loadingData || displayChains || title == 'Historical Statistics'">
                   <i class="hidden-lg hidden-md fa fa-globe"></i>
                   <span class="hidden-sm hidden-xs"> Load <strong>all</strong></span>
                 </button>
               </span>
             </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="loadingData">
             <i class="fa fa-spinner fa-spin fa-1x"></i>
             <small> Loading...</small>
           </div>
         </div>
       </div>
     </div>

     <div class="row" ng-hide="displayChains">
       <div class="panel-default">
         <div class="panel-body">
           <input-tags style="padding-bottom: 0px;"></input-tags>
         </div>
       </div>
     </div>
     
     <div class="row">
       <div class="panel" ng-init="updateDate()" ng-show="showDate">
         <div class="panel-body">
           Current time:
           <strong>
             {{dt | date:"d MMMM y H:mm"}}
           </strong>
           ({{dt | date: "'GMT': Z"}}). Last update: {{lastUpdate | date:"d MMMM y H:mm"}}
         </div>
       </div>
     </div>
   </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
    <a class="btn btn-sm text-uppercase padding-r" data-toggle="collapse" data-target="#filter">
      <i class="fa fa-eyedropper"></i>
      <small> Filter</small>
    </a>
    <a class="btn btn-sm text-uppercase padding-r" data-toggle="collapse" data-target="#advanced">
      <i class="fa fa-cog"></i>
      <small> Advanced</small>
    </a>
    <a class="btn btn-sm text-uppercase hidden-xs" data-toggle="collapse" data-target="#share">
      <i class="fa fa-share"></i>
      <small> Share</small>
    </a>
    <div ng-include="'build/filter.min.html'"></div>
    <div ng-include="'build/advanced.min.html'"></div>
    <div ng-include="'build/share.min.html'"></div>
  </div>
</div>

<div ng-include="page.template"></div>
