<div class="col-12" ng-repeat="tableName in ['chained', 'unchained', 'all']">
  <h3 style="text-align: left !important;" title="Table is showing number of {{mode}}"><strong><span style="text-transform: capitalize;">{{tableName}}</span> requests by status ({{mode}}):</strong></h3>
  <table class="table text-center col-12">
    <thead>
      <tr>
        <th class="text-center">Campaign</th>
        <th class="text-center">new</th>
        <th class="text-center">validation</th>
        <th class="text-center">defined</th>
        <th class="text-center">approved</th>
        <th class="text-center">submitted</th>
        <th class="text-center">done</th>
        <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="humanReadableNumbers" ng-repeat="(campaign, values) in tableData[tableName]">
        <td>{{campaign}}</td>
        <td>{{values.new}}</td>
        <td>{{values.validation}}</td>
        <td>{{values.defined}}</td>
        <td>{{values.approved}}</td>
        <td>{{values.submitted}}</td>
        <td>{{values.done}}</td>
        <td>{{values.total}}</td>
      </tr>
      <tr ng-hide="!humanReadableNumbers" ng-repeat="(campaign, values) in tableData[tableName]">
        <td>{{campaign}}</td>
        <td title="{{values.new}}">{{values.new | readableNumbers}}</td>
        <td title="{{values.validation}}">{{values.validation | readableNumbers}}</td>
        <td title="{{values.defined}}">{{values.defined | readableNumbers}}</td>
        <td title="{{values.approved}}">{{values.approved | readableNumbers}}</td>
        <td title="{{values.submitted}}">{{values.submitted | readableNumbers}}</td>
        <td title="{{values.done}}">{{values.done | readableNumbers}}</td>
        <td title="{{values.total}}">{{values.total | readableNumbers}}</td>
      </tr>
    </tbody>
  </table>
</div>
