<div class="row" ng-show="data.length">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Scale: <radio-selections style="text-transform: capitalize;" class="ml-2" options="availableScales" selected="scale" on-value-change="scaleChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Mode: <radio-selections style="text-transform: capitalize;" class="ml-2" options="availableModes" selected="mode" on-value-change="modeChange"></radio-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Group graph by: <checkbox-selections style="text-transform: capitalize;" class="ml-2" options="availableSelections" selected="groupBy" on-value-change="groupByChange"></checkbox-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Color graph by: <checkbox-selections style="text-transform: capitalize;" class="ml-2" options="availableSelections" selected="colorBy" on-value-change="colorByChange"></checkbox-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-2" >
    Stack graph by: <checkbox-selections style="text-transform: capitalize;" class="ml-2" options="availableSelections" selected="stackBy" on-value-change="stackByChange"></checkbox-selections>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <column-chart scale="scale"
                  mode="mode"
                  group-by="groupBy"
                  color-by="colorBy"
                  stack-by="stackBy"
                  human-readable-numbers="humanReadable"
                  bin-selected-callback="binSelected"
                  big-number-formatter="formatBigNumber"
                  big-number-formatter-log="formatBigNumberLog"
                  data="data"></column-chart>
    
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center margin-20" ng-show="selectedBin.length">
    <p>Requests (<b>{{selectedBin.length}}</b>) in selected bar</p>
    <div ng-repeat="binEntry in selectedBin" class="row zebra-lines small-padding">
      <div class="col-sm-4">
        <a ng-if="binEntry.prepid.indexOf('ReReco') == -1" ng-href="https://cms-pdmv.cern.ch/mcm/requests?prepid={{binEntry.prepid}}" target="_blank">{{binEntry.prepid}}</a>
        <a ng-if="binEntry.prepid.indexOf('ReReco') != -1" ng-href="https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id={{binEntry.prepid}}" target="_blank">{{binEntry.prepid}}</a>
      </div>
      <div class="col-sm-2">
        Priority: <b>{{binEntry.priority}}</b>
      </div>
      <div ng-hide="humanReadable" class="col-sm-2">
        Expected events: <b>{{binEntry.total_events}}</b>
      </div>
      <div ng-hide="!humanReadable" class="col-sm-2">
        Expected events: <b title="{{binEntry.total_events}}">{{binEntry.total_events | readableNumbers}}</b>
      </div>
      <div class="col-sm-2">
        Status: <b>{{binEntry.status}}</b>
      </div>
      <div class="col-sm-2">
        Member of chains: <b>{{binEntry.member_of_chain.length}}</b>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center margin-20">
    <present-stats-table mode="mode"
                         human-readable-numbers="humanReadable"
                         data="data"></present-stats-table>
  </div>
</div>
