<!DOCTYPE html>
<html lang="en" ng-app="pmpApp" id="ng-app">

  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/mcm.css"x rel="stylesheet"/>
    <link href="css/pmp.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto:900,400,400italic"
          rel="stylesheet" type="text/css">
    <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="lib/jquery-sortable/jquery-sortable.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/d3/d3.min.js"></script>

    <script src="js/charts.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

  </head>

  <body ng-controller="MainController">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <ul class="nav navbar-nav col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <li class="hidden-xs"><a class="navbar-brand" href="#">PMP</a></li>
          <li><a href="/dashboard">Campaigns</a></li>
          <li><a href="/get_stats">Get Stats</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="container">

      <div ng-view></div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

          <mcm-customizable-chart chart-type="'mcm-column-chart'" chart-title="Requests chart"
                                  radio="requests.radio" settings="requests.settings"
                                  selections="requests.selections" options="requests.options"
                                  chart-data="allRequestData">
          </mcm-customizable-chart>

          <multiple-pie-charts color-domain="piecharts.domain" table-title="Campaigns"
                               data="allRequestData" full-terms="piecharts.fullTerms"
                               compact-terms="piecharts.compactTerms" sum-by="piecharts.sum"
                               nest-by="piecharts.nestBy">
          </multiple-pie-charts>

        </div>
      </div>
      
    </div>
  </body>
</html>
